header{
    position: sticky;
    top: 0;
    z-index: 5;
}
#sf-navbar{
    background-color: $bg-navbar;
    display: flex;
    nav{
        flex: 0 0 70%;
        font-family: $font-nav;
        ul{
            height: 100%;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            li{
                margin-right: $nav-space;
                position: relative;
                
                &:after{
                    transition: 200ms;
                    position: absolute;
                    background-position: right;
                    bottom:0;
                    left: 0%;
                    content: '';
                    height:2px;
                    width: 100%;
                    background-color:transparent;
                }
                &:hover:after{
                    left: 0;
                    background-color:black;
                }
            }
        }
        #burger{
            display: none;
        }
    }
}

#logo{  
    flex: 0 0 10%;
}

.reseaux{
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    div{
        background-image: url("../img/sprites/ReseauxSociaux-32px.png");
        width: $size-rs;
        height: $size-rs;
        background-position-y: 468px;
        transition: background-position-y 500ms;
        display: inline-block;
        &:hover{
            background-position-y: 500px;
        }
        a{
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }
    div:nth-child(1){
        background-position-x: 238px;
    }
    div:nth-child(2){
        background-position-x: 0px;
    }
    div:nth-child(3){
        background-position-x: 206px;
    }
}