#sf-navbar{
    background-color: $bg-navbar;
    display: flex;
    nav{
        flex: 0 0 70%;
        font-family: $font-nav;
        ul{
            height: 100%;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            li{
                margin-right: $nav-space;
            }
        }
        #burger{
            display: none;
        }
    }
}

#logo{  
    flex: 0 0 10%;
}

.reseaux{
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    div{
        background-image: url("../img/sprites/ReseauxSociaux-32px.png");
        width: $size-rs;
        height: $size-rs;
        background-position-y: 468px;
        transition: background-position-y 500ms;
        display: inline-block;
        &:hover{
            background-position-y: 500px;
        }
 
    }
    div:nth-child(1){
        background-position-x: 238px;
    }
    div:nth-child(2){
        background-position-x: 0px;
    }
    div:nth-child(3){
        background-position-x: 206px;
    }
}