#sf-navbar{
    background-color: $bg-navbar;
    display: flex;
    *{
        display: inline-block;
    }
    nav{
        flex: 0 0 70%;
        font-family: $font-nav;
        ul{
            height: 100%;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            li{
                margin-right: $nav-space;
            }
        }
        #burger{
            display: none;
        }
    }
}

#logo{  
    flex: 0 0 10%;
}

.reseaux{
    flex: 0 0 20%;
    text-align: right;
    div{
        background-image: url("../img/sprites/Reseaux-sociaux.png");
        width: $size-rs;
        height: $size-rs;
        background-position-y: 450px;
        transition: background-position-y 500ms;
        &:hover{
            background-position-y: 500px;
        }
 
    }
    div:nth-child(1){
        background-position-x: 2px;
    }
    div:nth-child(2){
        background-position-x: 346px;
    }
    div:nth-child(3){
        background-position-x: 292px;
    }
}