#spritesuse{
    background-image: url("../img/desert-repetable-sm.jpg");
    background-repeat: repeat-x;
    min-height: 500px;
    animation: horizontal-scroll 60s infinite linear;
    position: relative;
    div{
        position: absolute;
        bottom: 50px;
        left: 50px;
        width: 50px;
        height: 65px;
        background-image: url("../img/sprites/perso.png");
        display: inline-block;
        background-position-y: 146px;
        // background-position: 66px 146px;
        // animation: deplace 20s infinite linear;
    }
    img{
        position: absolute;
        position: top left;
        animation: deco-scroll 60s infinite linear;
    }
    :nth-child(2){
        animation: surplace1 500ms infinite linear;
    }
    :nth-child(3){
        animation: surplace2 500ms infinite linear;
    }
    :nth-child(4){
        background-position-x: 600px;
        left: 200px;
        top: 10px;
    }
    :nth-child(4){
        background-position-x: 523px;
        left: 200px;
        top: 80px;
    }
    :nth-child(5){
        background-position-x: 447px;
        left: 200px;
        top: 150px;
    }
    :nth-child(6){
        background-position-x: 371px;
        left: 200px;
        top: 230px
    }
    :nth-child(7){
        background-position-x: 296px;
        left: 200px;
        top: 300px;
    }
    :nth-child(8){
        background-position-x: 219px;
        left: 200px;
        top: 370px;
    }
    :nth-child(9){
        //intermediaire 141px
        background-position-x: 63px;
        left: 200px;
        top: 440px;
    }
}


/*Animation du background*/
@keyframes horizontal-scroll{
    0%{
        background-position: top left;
    }
    0%{
        background-position: top right;
    }
}

@keyframes deco-scroll{
    0%{
        left: 0;
    }
    100%{
        left: -3000px;
    }
}

@keyframes surplace1{
    0%{
        background-position-x: 600px;
        height: 65px;
        left: 50px;
    }
    24.9%{
        height: 65px;
        left: 50px;
    }
    25%{
        height: 0;
        background-position-x: 600px;
        // l'autre apparait à 51px
    }
    49.9%{
        background-position-x: 447px;
        height: 0;
        left: 52px;
    }
    50%{   
        height: 65px;
    }
    74.9%{
        height: 65px;
    }
    75%{
        height: 0;
    } 
    99.9%{
        background-position-x: 447px;
        height: 0;
        left: 54px;
    }
    100%{
        background-position-x: 600px;
        height: 65px;
        left: 54px;
    } 
}
@keyframes surplace2{
    0%{
        background-position-x: 523px;
        height: 0;
    }
    24.9%{
        height: 0;
        left: 51px;
    }
    25%{
        height: 65px;
    }
    49.9%{
        background-position-x: 523px;
        height: 65px;
    }
    50%{   
        height: 0;
    }
    74.9%{
        height: 0;
        background-position-x: 371px;
        left: 53px;
    }
    75%{
        height: 65px;
    } 99.9%{
        background-position-x: 371px;
        height: 65px;
    }
    100%{
        background-position-x: 141px;
        height: 0;
        left: 51px;
    } 
}

@keyframes deplace{
    0%{
        margin-left: 0;
        background-position-x:66px ;
    }
    1%{
        margin-left: 0;
        background-position-x:140px ;
    }
    2%{
        margin-left: 0;
        background-position-x:214px ;
    }
    3%{
        margin-left: 0;
        background-position-x:288px ;
    }
    4%{
        margin-left: 0;
        background-position-x:362px ;
    }
    5%{
        margin-left: 0;
        background-position-x:436px ;
    }
    100%{
        margin-left: 1500px;
        background-position-x: 466px;
    }
}