@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  text-decoration: none;
  display: inline-block;
}

/****************************************************************
                COLORS
****************************************************************/
/****************************************************************
                SIZE
****************************************************************/
/***************************************************************
            ESPACEMENTS
***************************************************************/
/****************************************************************
            FONTS
****************************************************************/
body {
  font-family: "Dosis", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Changa", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.sf_btn {
  display: inline-block;
  border: 1px solid;
  padding: 5px 15px;
  box-shadow: 2px 2px 10px;
  transition: 200ms;
  font-size: 1.5rem;
}
.sf_btn:hover {
  box-shadow: -1px -1px 5px inset;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
}

p {
  margin: 8px 0;
}

section {
  margin-top: 4rem;
}

.sf_img-responsive {
  width: 100%;
  height: auto;
}

.sf-shiny {
  color: transparent;
  background: linear-gradient(60deg, #383737 0%, #383737 49%, #857f7f 51%, #857f7f 53%, #383737 55%, #383737 100%);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 250%;
  background-repeat: no-repeat;
  animation: shine 10s infinite linear forwards;
}

@keyframes shine {
  0% {
    background-position: top left;
  }
  50% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}
header {
  position: sticky;
  top: 0;
  z-index: 5;
}

#sf-navbar {
  background-color: lightgrey;
  display: flex;
}
#sf-navbar nav {
  flex: 0 0 70%;
  font-family: "Changa", sans-serif;
}
#sf-navbar nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
#sf-navbar nav ul li {
  margin-right: 20px;
  position: relative;
}
#sf-navbar nav ul li:after {
  transition: 200ms;
  position: absolute;
  background-position: right;
  bottom: 0;
  left: 0%;
  content: "";
  height: 2px;
  width: 100%;
  background-color: transparent;
}
#sf-navbar nav ul li:hover:after {
  left: 0;
  background-color: black;
}
#sf-navbar nav #burger {
  display: none;
}

#logo {
  flex: 0 0 10%;
}

.reseaux {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
}
.reseaux div {
  background-image: url("../img/sprites/ReseauxSociaux-32px.png");
  width: 32px;
  height: 32px;
  background-position-y: 468px;
  transition: background-position-y 500ms;
  display: inline-block;
}
.reseaux div:hover {
  background-position-y: 500px;
}
.reseaux div:nth-child(1) {
  background-position-x: 238px;
}
.reseaux div:nth-child(2) {
  background-position-x: 0px;
}
.reseaux div:nth-child(3) {
  background-position-x: 206px;
}

#parallax {
  margin: 200px 0;
}
#parallax .bg-parallax {
  color: white;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 27%, rgba(255, 255, 255, 0.1) 100%), url("../img/parallax-gorges-3deg.jpg") center no-repeat fixed;
  background-size: cover;
  transform: skewY(3deg);
  min-height: 700px;
  padding-left: 2rem;
}
#parallax .bg-parallax h2, #parallax .bg-parallax p {
  transform: skewY(-3deg);
  text-align: left;
}

#spritesuse {
  background-image: url("../img/desert-repetable-sm.jpg");
  background-repeat: repeat-x;
  min-height: 500px;
  animation: horizontal-scroll 25s infinite linear;
  position: relative;
}
#spritesuse div {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 50px;
  height: 65px;
  background-image: url("../img/sprites/perso.png");
  display: inline-block;
  background-position-y: 146px;
}
#spritesuse img {
  position: absolute;
  position: top left;
  animation: deco-scroll 60s infinite linear;
}
#spritesuse :nth-child(2) {
  animation: surplace1 500ms infinite linear;
}
#spritesuse :nth-child(3) {
  animation: surplace2 500ms infinite linear;
}

/*Animation du background*/
@keyframes horizontal-scroll {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
/*Animation  des elements de deco*/
@keyframes deco-scroll {
  0% {
    left: 0;
  }
  100% {
    left: -3000px;
  }
}
@keyframes surplace1 {
  0% {
    background-position-x: 600px;
    height: 65px;
    left: 50px;
  }
  24.9% {
    height: 65px;
    left: 50px;
  }
  25% {
    height: 0;
    background-position-x: 600px;
  }
  49.9% {
    background-position-x: 447px;
    height: 0;
    left: 52px;
  }
  50% {
    height: 65px;
  }
  74.9% {
    height: 65px;
  }
  75% {
    height: 0;
  }
  99.9% {
    background-position-x: 447px;
    height: 0;
    left: 54px;
  }
  100% {
    background-position-x: 600px;
    height: 65px;
    left: 54px;
  }
}
@keyframes surplace2 {
  0% {
    background-position-x: 523px;
    height: 0;
  }
  24.9% {
    height: 0;
    left: 51px;
  }
  25% {
    height: 65px;
  }
  49.9% {
    background-position-x: 523px;
    height: 65px;
  }
  50% {
    height: 0;
  }
  74.9% {
    height: 0;
    background-position-x: 371px;
    left: 53px;
  }
  75% {
    height: 65px;
  }
  99.9% {
    background-position-x: 371px;
    height: 65px;
  }
  100% {
    background-position-x: 141px;
    height: 0;
    left: 51px;
  }
}
#sf_bg-animation {
  margin: 0;
}

.sf_bg-animated {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: left;
}
.sf_bg-animated .sf_bg-anim-text {
  color: white;
  text-transform: uppercase;
  font-size: 5rem;
  position: absolute;
  left: 12vw;
  top: 9vh;
}
.sf_bg-animated .sf_bg-anim-text p:nth-child(1) {
  animation: rollHimself 7s linear forwards;
}
.sf_bg-animated .sf_bg-anim-text p:nth-child(8) {
  text-transform: capitalize;
  transform: translateX(-850px);
  font-size: 3rem;
  animation: runFast 7s linear forwards;
}
.sf_bg-animated .sf_bg-anim-text span {
  opacity: 0;
  animation: appear 1s linear forwards;
}
.sf_bg-animated .sf_bg-anim-text span:nth-child(2) {
  animation-delay: 1s;
}
.sf_bg-animated .sf_bg-anim-text span:nth-child(3) {
  animation-delay: 2s;
}
.sf_bg-animated .sf_bg-anim-text span:nth-child(4) {
  animation-delay: 3s;
}
.sf_bg-animated .sf_bg-anim-text span:nth-child(5) {
  animation-delay: 4s;
}
.sf_bg-animated .sf_bg-anim-text span:nth-child(6) {
  animation-delay: 5s;
}
.sf_bg-animated .sf_bg-anim-text span:nth-child(7) {
  animation-delay: 6s;
}
.sf_bg-animated .sf_bg-anim-form {
  background: #093eaa;
  height: 100%;
  width: 100%;
}
.sf_bg-animated .sf_bg-anim-form li {
  position: absolute;
  width: 10px;
  height: 10px;
  /***début étoiles***/
}
.sf_bg-animated .sf_bg-anim-form li.cube1 {
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: animCube1 15s ease-in forwards reverse infinite;
  border: solid 1px #023396;
}
.sf_bg-animated .sf_bg-anim-form li.cube2 {
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: animCube2 17s ease-in forwards reverse infinite;
  border: solid 1px #0f56e2;
  border-radius: 1px;
}
.sf_bg-animated .sf_bg-anim-form li.sf_stars {
  transform-origin: top right;
  transform: scale(0) rotate(0deg) center;
  color: #544f4f;
}
.sf_bg-animated .sf_bg-anim-form li.sf_rotate-right {
  animation: asterixRotateRight 30s linear forwards reverse infinite;
}
.sf_bg-animated .sf_bg-anim-form li.sf_rotate-left {
  animation: asterixRotateLeft 30s linear forwards reverse infinite;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(1) {
  left: 98vw;
  top: 47vh;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(2) {
  animation-delay: 1s;
  left: 95vw;
  top: 53vh;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(3) {
  animation-delay: 2s;
  left: 38vw;
  top: 20vh;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(4) {
  animation-delay: 3s;
  left: 35vw;
  top: 15vh;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(5) {
  animation-delay: 4s;
  left: 7vw;
  top: 60vh;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(6) {
  animation-delay: 5s;
  left: 9vw;
  top: 52vh;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(7) {
  animation-delay: 6s;
  left: 63vw;
  top: 10vh;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(8) {
  animation-delay: 7s;
  left: 65vw;
  top: 5vh;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(9) {
  animation-delay: 8s;
  left: 8vw;
  top: 12vh;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(10) {
  animation-delay: 9s;
  left: 4vw;
  top: 8vh;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(11) {
  animation-delay: 10s;
  left: 71vw;
  top: 88vh;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(12) {
  animation-delay: 11s;
  left: 75vw;
  top: 92vh;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(13) {
  animation-delay: 1s;
  left: 83vw;
  top: 15vh;
  border: none;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(14) {
  animation-delay: 1s;
  left: 10vw;
  top: 55vh;
  border: none;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(15) {
  animation-delay: 2s;
  left: 55vw;
  top: 5vh;
  border: none;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(16) {
  animation-delay: 2s;
  left: 50vw;
  top: 80vh;
  border: none;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(17) {
  animation-delay: 3s;
  left: 50vw;
  top: 80vh;
  border: none;
}
.sf_bg-animated .sf_bg-anim-form li:nth-child(18) {
  animation-delay: 3s;
  left: 50vw;
  top: 80vh;
  border: none;
}
.sf_bg-animated .sf_bg-anim-blob {
  position: absolute;
  filter: contrast(200) brightness(1.4) url(#Alpha);
  height: 100%;
  width: 100%;
}
.sf_bg-animated .sf_bg-anim-blob .sf_blobs {
  position: absolute;
  filter: blur(15px);
  border-radius: 5px;
  background-color: #0088cc;
  width: 50px;
  height: 50px;
  padding: 20px;
}
.sf_bg-animated .sf_bg-anim-blob .sf_blobs:nth-child(1) {
  top: 50%;
  left: 45%;
  animation: blobGluantCLT 30s alternate infinite;
  animation-delay: 2s;
}
.sf_bg-animated .sf_bg-anim-blob .sf_blobs:nth-child(2) {
  top: 50%;
  right: 45%;
  animation: blobGluantCRT 30s alternate infinite;
  animation-delay: 2s;
}
.sf_bg-animated .sf_bg-anim-blob .sf_blobs:nth-child(3) {
  top: 50%;
  left: 45%;
  animation: blobGluantCLB 30s alternate infinite;
  animation-delay: 2s;
}
.sf_bg-animated .sf_bg-anim-blob .sf_blobs:nth-child(4) {
  top: 50%;
  right: 45%;
  animation: blobGluantCRB 30s alternate infinite;
  animation-delay: 2s;
}
.sf_bg-animated .sf_bg-anim-blob .sf_blobs:nth-child(5) {
  top: 50%;
  right: 45%;
  animation: blobGluantCR 30s linear alternate infinite;
  animation-delay: 4s;
}
.sf_bg-animated .sf_bg-anim-blob .sf_blobs:nth-child(6) {
  top: 50%;
  left: 45%;
  animation: blobGluantCL 30s linear alternate infinite;
  animation-delay: 4s;
}
.sf_bg-animated .sf_bg-anim-title {
  position: absolute;
  left: 50vw;
  top: 48vh;
  transform: translate(-50%, 50%);
  color: white;
  text-align: center;
}
.sf_bg-animated .sf_bg-anim-title .sf_chevrons {
  display: block;
  margin-top: 0.5rem;
}
.sf_bg-animated .sf_bg-anim-title .sf_chevrons img {
  max-width: 2.5vw;
}
.sf_bg-animated .sf_bg-anim-infos {
  position: absolute;
  left: 96vw;
  top: 96vh;
  max-width: 20px;
}
.sf_bg-animated .sf_bg-anim-infos .sf_modal {
  display: none;
  position: absolute;
  background-color: rgba(116, 114, 114, 0.979);
  z-index: 3;
  color: white;
  transition: 200ms;
  top: -250px;
  left: -350px;
  width: 400px;
  padding: 0.5rem;
  font-size: 1rem;
}
.sf_bg-animated .sf_bg-anim-infos:hover .sf_modal {
  display: block;
}

/*******Animation des cubes*******/
@keyframes animCube1 {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(10) rotate(780deg) translate(-50%, -50%);
    opacity: 0;
  }
}
@keyframes animCube2 {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(12) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
/*******Animation des Astérisques*******/
@keyframes asterixRotateRight {
  from {
    transform: scale(0) rotate(0deg) translateY(0);
    opacity: 1;
    color: #544f4f;
  }
  to {
    transform: scale(10) rotate(720deg) translateY(20vh);
    opacity: 0;
    color: #87c45f;
  }
}
@keyframes asterixRotateLeft {
  from {
    transform: scale(0) rotate(0deg) translateY(0);
    opacity: 1;
    color: #544f4f;
  }
  to {
    transform: scale(10) rotate(-720deg) translateY(-20vh);
    opacity: 0;
    color: #87c45f;
  }
}
/*******Animation des blobs*******/
@keyframes blobGluantCLT {
  0% {
    top: 50%;
    left: 45%;
  }
  100% {
    top: 10%;
    left: 95%;
  }
}
@keyframes blobGluantCRT {
  0% {
    top: 50%;
    right: 45%;
  }
  100% {
    top: 10%;
    right: 95%;
  }
}
@keyframes blobGluantCLB {
  0% {
    top: 50%;
    left: 45%;
  }
  100% {
    top: 90%;
    left: 95%;
  }
}
@keyframes blobGluantCRB {
  0% {
    top: 50%;
    right: 45%;
  }
  100% {
    top: 90%;
    right: 95%;
  }
}
@keyframes blobGluantCR {
  0% {
    top: 50%;
    right: 45%;
  }
  100% {
    top: 50%;
    right: 95%;
  }
}
@keyframes blobGluantCL {
  0% {
    top: 50%;
    left: 45%;
  }
  100% {
    top: 50%;
    left: 95%;
  }
}
/********Animation du nom/prénom/titre*********/
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rollHimself {
  0% {
    opacity: 0;
    transform: rotateX(0deg);
  }
  70% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: rotateX(2160deg);
  }
}
@keyframes runFast {
  0% {
    transform: translateX(-900px) skewX(-15deg);
    letter-spacing: normal;
  }
  49.9% {
    transform: translateX(0) skewX(-15deg);
    letter-spacing: normal;
  }
  /**impact***/
  50% {
    transform: translateX(0) skewX(-8deg);
  }
  /****ecrasement: on fait avancer le texte en diminuant l'espace entre les lettres pour garder le bord droit du texte fixe**/
  55% {
    transform: translateX(35px) skewX(-8deg);
    letter-spacing: -1px;
  }
  65% {
    transform: translateX(-120px) skewX(-8deg);
    letter-spacing: 2px;
  }
  70% {
    transform: translateX(-60px) skewX(-8deg);
    letter-spacing: normal;
  }
  /***secon impact***/
  75% {
    transform: translateX(0) skewX(-3deg);
  }
  /**second ecrasement***/
  80% {
    transform: translateX(15px) skewX(-3deg);
    letter-spacing: -0.5px;
  }
  90% {
    transform: translateX(-60px) skewX(0);
    letter-spacing: normal;
  }
  100% {
    transform: translateX(0) skewX(0);
  }
}
.tag-links .tagcss:hover {
  content: url("img/objects/tag-CSS-hover.png");
}

#img-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  height: 800px;
}
#img-grid #sf_img-mangas {
  background-image: url("../img/mangas.jpg");
  border: 3px solid gray;
  grid-column: 1/16;
  grid-row: 1/5;
  overflow: hidden;
}

#perspectives div {
  perspective: 1000px;
  perspective-origin: 50% -15%;
  transform-style: preserve-3d;
  height: 500px;
  margin: 4rem 0;
}
#perspectives div img {
  max-width: 500px;
  perspective: 1600px;
  height: auto;
  position: absolute;
}
#perspectives div img.perspRight {
  transform: rotateY(60deg);
}
#perspectives div img.perspLeft {
  transform: rotateY(-60deg);
}
#perspectives div img:nth-child(1) {
  left: -250px;
}
#perspectives div img:nth-child(2) {
  left: 0;
}
#perspectives div img:nth-child(3) {
  left: 250px;
}
#perspectives div img:nth-child(4) {
  left: 500px;
}
#perspectives div img:nth-child(5) {
  left: 750px;
}
#perspectives div img:nth-child(6) {
  left: 1000px;
}
#perspectives div img:nth-child(7) {
  left: 1250px;
}
#perspectives div img:nth-child(8) {
  left: 1500px;
}
#perspectives div img:nth-child(9) {
  left: 1750px;
}
#perspectives div img:nth-child(10) {
  left: 2000px;
}

#imgEclatement {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  height: 800px;
}
#imgEclatement #sf_img-mangas {
  background-image: url("../img/mangas.jpg");
  border: 3px solid gray;
  grid-column: 1/16;
  grid-row: 1/5;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
