body{
    font-family: $font-body;
    text-align: center;
    font-size: 1.5rem;
}
h1,h2,h3,h4,h5,h6{
    font-family: $font-nav;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
code{
    font-weight: 600;
}

.section-presentation a{
    font-weight:600;
    color: $font-a-blue;
}