/****************************************************************
                COLORS
****************************************************************/

$bg-navbar: lightgrey;
$font-white: hsl(0, 0%, 100%);









/****************************************************************
                SIZE
****************************************************************/
$size-rs: 32px;








/***************************************************************
            ESPACEMENTS
***************************************************************/
$nav-space:20px;
$titles-mb:0.5rem;





/****************************************************************
            FONTS
****************************************************************/
$font-body : 'Dosis', sans-serif;
$font-nav: 'Changa', sans-serif;

