/****************************************************************
                COLORS
****************************************************************/

$bg-navbar: lightgrey;









/****************************************************************
                SIZE
****************************************************************/
$size-rs: 32px;








/***************************************************************
            ESPACEMENTS
***************************************************************/
$nav-space:20px;





/****************************************************************
            FONTS
****************************************************************/
$font-body : 'Dosis', sans-serif;
$font-nav: 'Changa', sans-serif;

