$grid-size-ref:5vw;

#sf_mosaic {
    display: grid;
    grid-template-columns: repeat(16,$grid-size-ref);
    grid-template-rows: repeat(6,$grid-size-ref);
    margin: auto;
    width:16*$grid-size-ref;
    div{
        background: url("../img/testatina2.jpg") no-repeat;
        background-size: 16*$grid-size-ref;
        overflow: hidden;
    }

}
@for $i from 0 through 99 {
    $j:0;
    @if $i>15 {
       $j:1; 
    }
    @if $i>31 {
       $j:2; 
    }
    @if $i>47 {
       $j:3; 
    }
    @if $i>63 {
       $j:4; 
    }
    @if $i>79 {
       $j:5; 
    }


    $k:$i%16;

    // $k:$i;
    // @while $k > 10 {
    //     $j:$j+1;

    // }
    #sf_mosaic div:nth-child(#{$i+1}) {
        background-position: $k*6.5% $j*20%;
        &:hover{
            // background-position: $k*11%+1% $j*25%-1%;
            scale: 1.2;
        }
    }
    #sf_mosaic:hover div:nth-child(#{$i+1}) {
        $calc-pos-x: calc(#{$k*6.5%} + #{#{20-$i%8*3-$j%3*10}px});
        @if $k==0{
            $calc-pos-x:-50px+ $j%3*20;
        }
        // $calc-pos-y:calc(#{$j*20%} + #{$i%8}*#{#{$i%8}px});
        $calc-pos-y:calc(#{$j*20%} + #{$j}*#{$i%8px});
        // $calc-pos-y: calc(#{$j * 20%} + #{($i % 8) * ($i % 8)}px);
        background-position: $calc-pos-x $calc-pos-y;

        width: 110%;
        height:110%;
        transform: translate(5%, 2%);
        background-clip: border-box;
        margin: 5px;
    }
}