.sf_demo-container{
    display: flex;
    width:80%;
    margin: auto;
    justify-content: space-between;
    .sf_demo-text{
        flex:0 0 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: left;
    }
    
}

@media (max-width:600px){
    .sf_demo-container{
        flex-wrap: wrap;
        .sf_product-card, .sf_flex-30{
            flex: 0 0 100%;
        }
    }
    .sf_demo-container .sf_demo-text{
        flex:0 0 100%;
    }
}