#sf_morpion{
    width: 80%;
    margin: auto;
    #morpiongame{
        display: flex;
        justify-content: center;

        div{
            flex: 0 0 50%;
        }
        td{
            border: 3px solid #ea5c00;
            width: 100px;
            height: 100px;
            text-align: center;
        }
        table{
            margin: auto;
        }
    }

}

#morpionchat{
    display: none;
    box-shadow:2px 2px 5px;
    text-align: left;
    padding:2vw;
    max-height: 300px;
    overflow-y: scroll;
}

#morpionparams{
    box-shadow:2px 2px 5px;
    padding: 1rem;
    form{
        width: 50%;
        margin: 1rem auto;
        input{
            box-shadow: inset 2px 2px;
            padding: 5px 10px;
        }
        input[type="radio"]{
            visibility: hidden;
        }
        input[type="radio"]:checked + label{
            border: 1px solid black;
            padding: 5px 10px;
            box-shadow:2px 2px 5px;
        }
        div{
            margin-bottom: 1rem;
        }
    }
}
#morpionboard{
    position: relative;
    .sf_mVictory{
        position: absolute;
        top: 39%;
        left: 26%;
        display: none;
        transform: scale(0);
        color: red;
        font-size: 40px;
        font-weight: bold;
        border: 2px solid black;
        border-radius: 5px;
        background-color: hsla(205, 90%, 40%, 0.6);
    }
}