$images-width:500px;

#perspectives{
    overflow-x: hidden;
    div:nth-child(2){
        perspective:1000px;
        perspective-origin: 50% -15%;
        transform-style: preserve-3d; //==> permet un effet 3D lorsqu'un element traverse un autre
        min-height:450px;
        margin-top: 4rem;
        img{
            width:$images-width;
            perspective: 1600px;
            height:auto;
            position: absolute;
            &.perspRight{
                transform: rotateY(60deg);
            }
            &.perspLeft{
                transform: rotateY(-60deg);
            }
            &:nth-child(1){
                left: -($images-width/2);
            }
            &:nth-child(2){
                left: 0;
            }
            &:nth-child(3){
                left: $images-width/2;
            }
            &:nth-child(4){
                left: $images-width;
            }
            &:nth-child(5){
                left:$images-width*1.5;
            }
            &:nth-child(6){
                left:$images-width*2;
            }
            &:nth-child(7){
                left:$images-width*2.5;
            }
            &:nth-child(8){
                left: $images-width*3;
            }
            &:nth-child(9){
                left: $images-width*3.5;
            }
            &:nth-child(10){
                left: $images-width*4;;
            }
        }
    }
}

@media (max-width:600px){
    $images-width:100px;
    #perspectives div:nth-child(2) img{
        width:$images-width;
        &:nth-child(1){
            left: -($images-width/2);
        }
        &:nth-child(2){
            left: 0;
        }
        &:nth-child(3){
            left: $images-width/2;
        }
        &:nth-child(4){
            left: $images-width;
        }
        &:nth-child(5){
            left:$images-width*1.5;
        }
        &:nth-child(6){
            left:$images-width*2;
        }
        &:nth-child(7){
            left:$images-width*2.5;
        }
        &:nth-child(8){
            left: $images-width*3;
        }
        &:nth-child(9){
            left: $images-width*3.5;
        }
        &:nth-child(10){
            left: $images-width*4;;
        }
    }
    
}
