#spritesuse{
    background-image: url("../img/desert3000px.jpg");
    background-repeat: repeat-x;
    background-position-y: top;
    min-height: 500px;
    animation: horizontal-scroll 40s infinite linear;
    position: relative;
    overflow: hidden;
    .sf_character{
        position: absolute;
        bottom: 50px;
        left: 50px;
        width: 50px;
        height: 65px;
        background-image: url("../img/sprites/perso.png");
        display: inline-block;
        background-position-y: 146px;
        &:hover{
            animation-play-state: paused;
        }
    }
    :nth-child(1){
        animation: hero-move 2s infinite linear;
    }
}


/*Animation du background*/
@keyframes horizontal-scroll{
    0%{
        background-position-x: 0;
    }
    99.99%{
        background-position-x: -3000px;
    }
    100%{
        background-position-x: 0;
    }
}

//mouvements du hero
// position-x du sprite 600/523/447/371/296/219/141/63
@keyframes hero-move{
    0%{
        background-position-x: 600px;
        left: 50px;
    }
    12.4%{
        left: 50px;
        background-position-x: 600px;
    }
    12.5%{
        background-position-x: 523px;
    }
    24.9%{
        background-position-x: 523px;
    }
    25%{   
        background-position-x: 447px;
    }
    37.4%{
        background-position-x: 447px;
    }
    37.5%{
        background-position-x: 371px;
    } 
    49.9%{
        background-position-x: 371px;
    }
    50%{
        background-position-x: 296px;
    }
    62.4%{
        background-position-x: 296px;
    }
    62.5%{
        background-position-x: 219px;
    }
    74.9%{
        background-position-x: 219px;
    }
    75%{
        background-position-x: 141px;
    }
    87.4%{
        background-position-x: 141px;
    }
    87.5%{
        background-position-x: 63px;
    }
    99.9%{
        background-position-x: 63px;
    }
    100%{
        background-position-x: 600px;
        opacity:1;
    } 
}
