.sf_tag-links{
    margin:1.5rem 0;
    // .tagcss:hover{
            
    // }
    img{
        margin: 0 .5rem;
        &:hover{
            animation: sway 1s linear;
            transform-origin: center 5px;
        }
    }
}

@keyframes sway{
    0%{
        transform:rotate(0);
    }
    30%{
        transform:rotate(30deg);
    }
    50%{
        transform:rotate(0);
    }
    70%{
        transform:rotate(-30deg);
    }
    90%{
        transform:rotate(5deg);
    }
    100%{
        transform:rotate(0);
    }
}
