#sf_entete{
    justify-content:space-between;
    border: 8px double hsl(22, 30%, 46%);
    div:nth-child(2){
        flex: 0 0 50%;
    }
    div[class='sf_flex-wrap sf_flex-column']:nth-child(3){
        flex: 0 0 10%;
        background-color:hsl(22, 30%, 46%);
        justify-content:space-evenly;
        div{
            background-image: url("../img/sprites/ReseauxSociaux-32px.png");
            width: $size-rs;
            height: $size-rs;
            background-position-y: 306px;
            transition: background-position-y 500ms;
            &:hover{
                background-position-y: 404px;
            }
        }
    }
}


.sf_cv-arrow{
    background-color: darkmagenta;
    width: 20px;
     height: 50px;
     margin: auto;
}
.sf_precisions{
    display: none;
    div{
        display: flex;
        justify-content: space-evenly;
    }
}

.sf_professional-exp, .sf_formation-exp{
    border: 8px outset;
    width: 30%;
    margin: auto;
    border-radius: 5px;
    cursor: url("../img/objects/Help.cur"), pointer;
}

.sf_professional-exp{
    border-color: hsl(46, 91%, 54%);
    background:linear-gradient( hsl(76, 79%, 53%) 0%, hsl(76, 67%, 39%) 100%);
    transition: margin 2000ms;
    &:hover{
        transition: margin 2000ms;
        margin-left:67%;
        border-style: inset;
        .sf_precisions{
            display: block;
        }
    }
}
.sf_formation-exp{
    border-color: hsl(76, 79%, 53%);  
    background:linear-gradient( hsl(46, 91%, 54%) 0%, hsl(46, 79%, 40%) 100%);
    &:hover{
        transition: margin 2000ms;
        margin-left:3%;
        border-style: inset;
        .sf_precisions{
            display: block;
        }
    }
}