/*****************************************************************************
                Partie Haute de la page
******************************************************************************/

#sf_entete{
    justify-content:space-between;
    border: 8px double hsl(224, 50%, 49%);
    //colonne centrale avec texte et CV
    #aboutMe{
        flex: 0 0 70%;
        #loadCV{
            display: flex;
            div:nth-child(1){
                flex: 0 0 50%;
            }
            img{
                width: 30%;
            }
        }
    }
    //colonne de droite
    div[class='sf_flex-wrap sf_flex-column']:nth-child(3){
        flex: 0 0 10%;
        background-color:hsl(224, 50%, 49%);
        color: $font-white;
        font-size: 1rem;
        justify-content:space-evenly;
        padding: 10px;
        div a{
            background-image: url("../img/sprites/ReseauxSociaux-32px.png");
            width: $size-rs;
            height: $size-rs;
            background-position-y: 212px;
            transition: background-position-y 500ms;
            &:hover{
                background-position-y: 244px;
            }
            &:nth-child(1){
                background-position-x: 0px;
            }
            &:nth-child(2){
                background-position-x: -32px;
                margin: 0 .3rem;
            }
            &:nth-child(3){
                background-position-x:-128px;
            }
        }
    }
}

/********************************************************************************
                Frise Expérience / formations
***********************************************************************************/

// la fleche centrale
.sf_cv-arrow{
    background-color: hsl(224, 50%, 49%);
    width: 15px;
    height: 50px;
    margin: auto;
}

.sf_professional-exp, .sf_formation-exp{
    border: 8px outset;
    width: 30%;
    margin: auto;
    border-radius: 5px;
    cursor: url("../img/objects/Help.cur"), pointer;
}

.sf_professional-exp{
    border-color: hsl(46, 91%, 54%);
    background:linear-gradient( hsl(76, 79%, 53%) 0%, hsl(76, 67%, 39%) 100%);
}
.sf_formation-exp{
    border-color: hsl(76, 79%, 53%);  
    background:linear-gradient( hsl(46, 91%, 54%) 0%, hsl(46, 79%, 40%) 100%);
}

// les détails qui apparaissent au click
.sf_precisions{
    display: none;
    div{
        display: flex;
        justify-content: space-evenly;
    }
}
