#sf_mockup-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    div{
        flex: 0 0 45%;
        text-align: left;
        img{
            max-width:100%;
            height:auto;
        }
    }
    div:first-child figure{
        margin:5rem 0;
    }

}

#sf_mockup-suggest{
    width: 80%;
    margin: 5rem auto;
    h2 + div{
        display: flex;
        justify-content: space-evenly;
        div{
            flex: 0 0 30%;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}