.sf_separation{
    width:50%;
    height:3px;
    background: linear-gradient(90deg, 
    $major-blue 0%, $major-blue 1%,$major-blue-transparent 2%,$major-blue-transparent 3%,
    $major-blue 4%,$major-blue 7%,$major-blue-transparent 8%, $major-blue-transparent 9%,
    $major-blue 10%,$major-blue 15%,$major-blue-transparent 16%, $major-blue-transparent 17%,
    $major-blue 18%,$major-blue 82%,
    $major-blue-transparent 83%, $major-blue-transparent 84%,$major-blue 85%, $major-blue 90%,
    $major-blue-transparent 91%, $major-blue-transparent 92%,$major-blue 93%, $major-blue 96%,
    $major-blue-transparent 97%, $major-blue-transparent 98%,$major-blue 99%, $major-blue 100%);
    margin: 4rem auto;
}