/****************************************************************
                COLORS
****************************************************************/

$bg-navbar: lightgrey;
$font-white: hsl(0, 0%, 100%);
$font-a-blue: hsl(240, 82%, 28%);
$modal-overlay-grey:hsla(0, 1%, 45%, 0.979);
$overlay-bg-black: rgba(0, 0, 0, 0.8);
$line-green: hsla(108, 67%, 26%,1);
$line-green-transparent: hsla(108, 67%, 26%,.1);









/****************************************************************
                SIZE
****************************************************************/
$size-rs: 32px;








/***************************************************************
            ESPACEMENTS
***************************************************************/
$nav-space:20px;
$titles-mb:0.5rem;
$mt-small:0.5rem;
$padding-small:.5rem;





/****************************************************************
            FONTS
****************************************************************/
$font-body : 'Dosis', sans-serif;
$font-nav: 'Changa', sans-serif;

